@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo{
  font-family: "Sixtyfour Convergence", sans-serif;
  font-size: 40px;
}

button.success, button.warning, button.danger{
  @apply px-4 py-1 rounded text-white;
}

button.success{
  @apply bg-green-600;
}
button.warning{
  @apply bg-yellow-500;
}
button.danger{
  @apply bg-red-600;
}